body {
    padding: 0;
    margin: 0;
}

* {
    font-family: 'Poiret One', cursive;
}



/*Welcome Page Styling*/


.welcome-header {
    height: 80px;
    background-color: black;
    -webkit-transition: background-color .7s;
    transition: background-color .7s;
}

.welcome-header span {
    font-size: 2.3em;
}

.welcome-header nav {
    text-align: center;
    line-height: 80px;
}

.welcome-header nav a {
    color: white;
    font-size: 1.9em;
    margin-left: 10px;
    margin-right: 10px;
    -webkit-transition: color .4s;
    transition: color .4s;
}

.welcome-header nav a:hover {
    text-decoration: none;
}

.welcome-header nav a:first-child {
    float: left;
}

.welcome-header nav a:last-child, .portfolio-header nav a:last-child, .contact-header nav a:last-child, .blog-header nav a:last-child {
    display: none;
}


.welcome-wrapper-one {
    height: 100vh;
    background-image: url("../images/welcome-bg.jpg");
    background-size: cover;
}

#welcome-name-wrapper {
    margin-top: 450px;
    width: 50%;
    text-align: center;
}

#welcome-name-wrapper ul {
    margin-top: 45px;
}

#welcome-name-wrapper ul li a {
    color: white;
    opacity: .8;
    -webkit-transition: opacity .5s;
    transition: opacity .5s;
}
#welcome-name-wrapper ul li{


    display: inline;
    font-size: 2.3em;
    margin-left: 10px;
    margin-right: 10px;

}



#welcome-name-wrapper ul li a:hover {
    opacity: 1;
}

#welcome-name-wrapper h1 {
    color: white;
    font-size: 4.5em;
}

#welcome-name-wrapper h2 {
    color: white;
    font-size: 1.5em;
}
.welcome-wrapper-two {
    height: 500px;
    padding: 0;
}

.welcome-wrapper-two {
    height: 600px;
}

.test-div {
    background-color: black;
}
#dual-div-wrapper {
    height: 100%;
    width: 100%;
}

.dual-div {
    height: 100%;
    width: 49%;
    -webkit-transition: width .7s;
    transition: width .7s;

    display: inline-block;
    vertical-align: top;
    margin: 0 auto;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.dual-div:first-child:hover {
    -webkit-filter: grayscale(20%);
    filter: grayscale(20%);
}

.dual-div:last-child:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}
#left-dual-div {
    background-image: url("../images/color-chalk.jpg");
    background-size: cover;
}

#right-dual-div {
    background-image: url("../images/broken-chalk.jpg");
    background-size: cover;
}

.dual-div h2 {
    font-size: 6em;
    color: white;
    background-color: black;
    width: 100%;
    text-align: center;
    margin-top: 55%;
    opacity: .8;
}

.dual-div p {
    background-color: black;
    color: white;
    text-align: center;
    margin-top: 275px;
    font-size: 5em;
    width: 80%;
    display: none;
    opacity: .8;
}
.welcome-about-wrapper {
    height: 100vh;
    background-image: url("../images/coffee-cup.jpg");
    background-size: cover;
    background-attachment: fixed;
}

.welcome-picture-wrapper {
    height: 100vh;
    background-image: url("../images/mac.jpg");
    background-size: cover;
    background-attachment: fixed;
}


.welcome-wrapper-three {
    height: 400px;
    padding: 0;
}

.lang-div {
    height: 100%;
    width: 49%;
    display: inline-block;
}

.welcome-wrapper-four {
    height: 500px;
    background-color: black;
}

#welcome-schedule-wrapper {
    text-align: center;
    margin-top: 175px;
}

#welcome-schedule-wrapper h2 {
    color: white;
}

#welcome-schedule-wrapper button {
    background-color: transparent;
    color: white;
    border: 2px solid white;
    font-size: 2em;
    margin-top: 35px;
    padding: 10px;
    outline: none;
    -webkit-transition: font-size .2s;
    transition: font-size .2s;
}

#welcome-schedule-wrapper button:hover {
    font-size: 2.2em;
}

#welcome-schedule-wrapper button:active {
    position: relative;
    top: 2px;
}

#welcome-schedule-wrapper h2{
    font-size: 3em;
}



     /*Contact page styling*/

.contact-header {
    height: 80px;
}

.contact-header span {
    font-size: 2.3em;
}

.contact-header nav {
    line-height: 80px;
    text-align: center;
}

.contact-header nav a {
    font-size: 1.9em;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
}
.contact-header nav a:first-child {
    float: left;
}

.contact-header nav a:hover {
    text-decoration: none;
}

.contact-picture-wrapper {
    height: 100vh;
    background-image: url("../images/dude-writing.jpg");
    background-size: cover;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

#contact-form-wrapper {
    width: 85%;
    height: 80%;
    text-align: center;
    border: 1px dotted;
    margin: 0 auto;
    margin-top: 120px;
    padding-top: 45px;
    background-color: black;
    opacity: .9;
}

.thanks {
    color: white;
    text-align: center;
    font-size: 2em;
    margin-top: 20%;
}

.tiny-thanks {
    color: white;
    text-align: center;

}

.half-pipe {
    width: 40%;
    margin-bottom: 30px;
    font-size: 2.5em;
    outline: none;
}

.full-pipe {
    width: 80%;
    margin-bottom: 30px;
    font-size: 2.5em;
    outline: none;

}

select {
    display: none;
}

#contact-form-wrapper button {
    background-color: transparent;
    border: 2px solid white;
    color: white;
    font-size: 2em;
    height: 60px;
    width: 60px;
    border-radius: 60px;
    outline: none;
    -webkit-transition: background-color .7s;
    transition: background-color .7s;
}

#contact-form-wrapper button:hover {
    color: black;
    background-color: white;
}

#contact-form-wrapper button:active {
    position: relative;
    top: 2px;
}


/*Blog page styling*/


.blog-header, .portfolio-header {
    height: 80px;
    -webkit-transition: background-color .7s, opacity .7s;
    transition: background-color .7s, opacity .7s;

}

.blog-header span, .portfolio-header span {
    font-size: 2.3em;
}

.blog-header nav, .portfolio-header nav{
    line-height: 80px;
    text-align: center;
}

.blog-header nav a, .portfolio-header nav a {
    font-size: 1.9em;
    margin-left: 10px;
    margin-right: 10px;
    color: black;
}
.blog-header nav a:first-child , .portfolio-header nav a:first-child {
    float: left;
}

.blog-header nav a:hover, .portfolio-header nav a:hover{
    text-decoration: none;
}

.blog-toolbox {
    margin-top: 120px;
    text-align: center;

}

.blog-toolbox input {
    width: 60%;
    font-size: 2.3em;
    color: white;
    background-color: black;
    outline: none;
    border: none;
    text-align: center;
}
.blog-posts-wrapper ul {
    text-align: center;
    list-style-type: none;
    padding-left: 0;
}

.blog-posts-wrapper ul li {
    margin-bottom: 30px;
}

.post-title {
    font-size: 3.5em;
}

.post-date {
    margin-bottom: 30px;
    color: #909090;
}
.post-post {
    width: 75%;
    font-size: 2.5em;
    margin: 0 auto;
    margin-bottom: 25px;

}

.post-options-list ul{
    list-style-type: none;
}

.post-options-list ul li {
    display: inline;
}

.blog-posts-wrapper button {
    font-size: 2em;
    height: 50px;
    width: 50px;
    border-radius: 50px;
    background-color: transparent;
    border: 2px solid black;
    outline: none;
    display: none;
}

.blog-posts-wrapper button:hover {
    color: white;
    background-color: black;
}

.blog-posts-wrapper button:active {
    position: relative;
    top: 2px;
}

.project-wrapper {
    padding-top: 0;
    background-attachment: fixed;
}

.projects-wrapper ul {
    margin-top: 120px;
    list-style-type: none;
    text-align: center;
    padding-left: 0;
}

.projects-wrapper ul li {
    border: 1px solid;
    margin-bottom: 25px;
    padding: 0;
}

.project-wrapper {
    height: 400px;
    background-size: cover;
    background-attachment: fixed;
    -webkit-filter: grayscale(100%);
    filter: grayscale(100%);
}

.project-wrapper:hover {
    -webkit-filter: grayscale(0%);
    filter: grayscale(0%);
}

.project-wrapper h2 {
    font-size: 3em;
    padding-top: 0;
    color: white;
    background-color: black;
    float: left;
    margin-top: 200px;
    width: 50%;
}

.projects-wrapper p {
    font-size: 2em;
    color: white;
    display: none;
}


#welcome-footer, #portfolio-footer, #contact-footer, #blog-footer {
    height: 0;
}























/*******************     CSS Media Queries     ************************/





@media (max-width: 600px) {
    .welcome-wrapper-one {
        background-position-x: 85%;
    }

    #welcome-name-wrapper {
        display: none;
    }

    .welcome-about-wrapper {
        background-position-x: 90%;
    }

    .welcome-wrapper-two {
        display: none;
    }

    .welcome-header nav a:nth-child(2),.welcome-header nav a:nth-child(3),.welcome-header nav a:nth-child(4),
    .portfolio-header nav a:nth-child(2), .portfolio-header nav a:nth-child(3), .portfolio-header nav a:nth-child(4),
    .contact-header nav a:nth-child(2), .contact-header nav a:nth-child(3), .contact-header nav a:nth-child(4),
    .blog-header nav a:nth-child(2), .blog-header nav a:nth-child(3), .blog-header nav a:nth-child(4)

    {
        display: none;
    }

    .welcome-header nav a:last-child, .portfolio-header nav a:last-child, .contact-header nav a:last-child, .blog-header nav a:last-child {
        float: right;
        font-weight: lighter;
        font-size: 2.5em;
        display: inline;
    }

    #welcome-footer, #portfolio-footer, #contact-footer, #blog-footer {
        height: 0;
        -webkit-transition: height .7s;
        transition: height .7s;
        background-color: black;
    }

    #welcome-footer h2, #portfolio-footer h2, #contact-footer h2, #blog-footer h2 {
        text-align: center;
        color: white;
        opacity: .6;
        font-size: 2.6em;
    }

    #welcome-footer p, #portfolio-footer p, #contact-footer p, #blog-footer p{
        text-align: center;
        color: white;
        font-size: .8em;
        opacity: 1.2;
        margin-bottom: 30px;
    }

    #footer-menu-list, #port-menu-list, #contact-menu-list, #blog-menu-list {
        text-align: center;
        padding-left: 0;
        list-style-type: none;
    }

    #footer-menu-list li, #port-menu-list li, #contact-menu-list li, #blog-menu-list li{
        margin-bottom: 20px;
        border-top: 1px solid white;
        padding-top: 5%;
    }




    #footer-menu-list li a, #port-menu-list li a, #contact-menu-list li a, #blog-menu-list li a {
        color: white;
        text-decoration: none;
        font-size: 2.3em;
    }

    #footer-social-list, #port-social-list, #contact-social-list, #blog-social-list{
        text-align: center;
        list-style-type: none;
        padding-left: 0;
    }

    #footer-social-list li, #port-social-list li, #contact-social-list li, #blog-social-list li {
        display: inline;
        margin-left: 15px;

    }

    #footer-social-list li a, #port-social-list li a, #contact-social-list li a, #blog-social-list li a{
        text-decoration: none;
        color: white;
        opacity: .4;
        font-size: 2em;
    }

    /*Blog Page styling*/


    .blog-toolbox input {
        width: 90%;
    }

    .post-title {
        font-size: 2.8em;
    }

    .post-date {

    }

    .post-post {
        font-size: 1.5em;
        width: 90%;
    }



    /*Contact Page Styling*/

    .contact-picture-wrapper {
        padding: 0;
    }

    #contact-form-wrapper {
        width: 100vw;
        height: auto;
    }

    .half-pipe, .full-pipe {
        width: 98%;
        text-align: center;
    }


    /*Portfolio page styling*/

    .project-wrapper {
        width: 100%;

    }

    .project-wrapper h2 {
        width: 100%;
    }

    .projects-wrapper {
        padding: 0;
    }

    .projects-wrapper ul li {
        border: none;
    }

}



