<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-xs-12 contact-header navbar-fixed-top">
            <nav>
                <a href="#/welcome">M<span>|</span>M</a>
                <a href="#portfolio">Portfolio</a>
                <a href="#/contact">Contact</a>
                <a href="#/blog">Blog</a>
                <a href='#/contact' ng-click="showMenu()"><i class="fa fa-bars" aria-hidden="true"></i></a>
            </nav>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-xs-12 contact-picture-wrapper">
            <div id="contact-form-wrapper">
                <input type="text" class="half-pipe" placeholder="First Name" id="firstName">
                <input type="text" class="half-pipe" placeholder="Last Name" id="lastName"><br>
                <input type="text" class="full-pipe" placeholder="Company" id="co"><br>
                <input type="tel" class="half-pipe" placeholder="Phone" id="phone">
                <input type="email" class="half-pipe" placeholder="Email" id="email"><br>
                <select id="contact-dropdown" class="full-pipe">
                    <option value="default">Please select a primary contact reason.</option>
                    <optgroup label="Services">
                        <option value="design">Design and UI consulting</option>
                        <option value="dev">Development/Engineering</option>
                    </optgroup>
                    <optgroup label="Other">
                        <option value="general">General Comment/Inquiry</option>
                        <option value="edu">Teaching/Education</option>
                    </optgroup>
                </select><br>
                <input type="url" class="full-pipe" placeholder="Current Website's URL (if applicable)" id="url">
                <textarea  class="full-pipe" placeholder="Your message to Michael Montgomery" id="message"></textarea><br>
                <button ng-click="sendContact()"><i class="fa fa-paper-plane-o" aria-hidden="true"></i></button>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div id="contact-footer" class="col-md-12 navbar-fixed-bottom">

            <h2>Michael Montgomery</h2>
            <p>Full-Stack Web Developer | UI/UX Consultant</p>


            <ul id="contact-menu-list">
                <li><a href="#/welcome">Home</a> </li>
                <li><a href="#/portfolio">Portfolio</a> </li>
                <li><a href="#/contact">Contact</a> </li>
                <li><a href="#/blog">Blog</a> </li>
            </ul>

            <ul id="contact-social-list">
                <li><a href="https://www.facebook.com/mjaymontgomery"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
                <li><a href="https://www.twitter.com/loadsofcode"><i class="fa fa-twitter" aria-hidden="true"></i></a> </li>
                <li><a href="https://www.linkedin.com/in/meanstackmichael"><i class="fa fa-linkedin" aria-hidden="true"></i></a> </li>
                <li><a href="https://github.com/Michael-Montgomery"><i class="fa fa-github" aria-hidden="true"></i></a> </li>
            </ul>

        </div>
    </div>
</div>