<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-xs-12 welcome-header navbar-fixed-top">
            <nav>
                <a href="#/welcome">M<span>|</span>M</a>
                <a href="#/portfolio">Portfolio</a>
                <a href="#/contact">Contact</a>
                <a href="#/blog">Blog</a>
                <a ng-click="showMenu()"><i class="fa fa-bars" aria-hidden="true"></i></a>
            </nav>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-xs-12 welcome-wrapper-one">
            <div id="welcome-name-wrapper">
                <h1>Michael Montgomery</h1><br>
                <h2>Full-Stack Web Developer | UI/UX Consultant</h2>
                <ul>
                    <li><a href="https://www.facebook.com/mjaymontgomery"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
                    <li><a href="https://www.twitter.com/loadsofcode"><i class="fa fa-twitter" aria-hidden="true"></i></a> </li>
                    <li><a href="https://www.linkedin.com/in/meanstackmichael"><i class="fa fa-linkedin" aria-hidden="true"></i></a> </li>
                    <li><a href="https://github.com/Michael-Montgomery"><i class="fa fa-github" aria-hidden="true"></i></a> </li>
                </ul>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-xs-12 welcome-about-wrapper">

            </p>
        </div>
    </div>
</div>

<div class="container-fluid test-div">
    <div class="row">
        <div class="col-md-12 welcome-wrapper-two">
            <div id="dual-div-wrapper">
                <div class="dual-div" id="left-dual-div">
                    <h2>Design.</h2>
                    <p>
                        Striking aesthetics.
                    </p>
                </div>
                <div class="dual-div" id="right-dual-div">
                    <h2>Re-designed.</h2>
                    <p>Refined performance.</p>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 welcome-picture-wrapper">

        </div>
    </div>
</div>




<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-xs-12 welcome-wrapper-four">
            <div id="welcome-schedule-wrapper">
                <h2>Let's build something amazing together.</h2>
                <button ng-click="goToContact()">Schedule a consultation</button>
            </div>
        </div>
    </div>
</div>


<div class="container-fluid">
    <div class="row">
        <div id="welcome-footer" class="col-md-12 navbar-fixed-bottom">

            <h2>Michael Montgomery</h2>
            <p>Full-Stack Web Developer | UI/UX Consultant</p>


            <ul id="footer-menu-list">
                <li><a href="#/welcome">Home</a> </li>
                <li><a href="#/portfolio">Portfolio</a> </li>
                <li><a href="#/contact">Contact</a> </li>
                <li><a href="#/blog">Blog</a> </li>
            </ul>

            <ul id="footer-social-list">
                <li><a href="https://www.facebook.com/mjaymontgomery"><i class="fa fa-facebook" aria-hidden="true"></i></a> </li>
                <li><a href="https://www.twitter.com/loadsofcode"><i class="fa fa-twitter" aria-hidden="true"></i></a> </li>
                <li><a href="https://www.linkedin.com/in/meanstackmichael"><i class="fa fa-linkedin" aria-hidden="true"></i></a> </li>
                <li><a href="https://github.com/Michael-Montgomery"><i class="fa fa-github" aria-hidden="true"></i></a> </li>
            </ul>

        </div>
    </div>
</div>