<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-xs-12 welcome-header navbar-fixed-top">
            <nav>
                <a href="#/welcome">Logo</a>
                <a href="#">Portfolio</a>
                <a href="#">Contact</a>
                <a href="#">Blog</a>
                <a href="#">Schedule button</a>
            </nav>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-xs-12 welcome-wrapper-one">

        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 welcome-wrapper-two">
            <div id="tri-div-wrapper">
                <div class="tri-div" id="tri-div-one">
                    tri div 1
                </div>
                <div class="tri-div" id="tri-div-two">
                    tri div 2
                </div>
                <div class="tri-div" id="tri-div-three">
                    tri div 3
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-xs-12 welcome-about-wrapper">
            about me
        </div>
    </div>
</div>

<div class="container">
    <div class="row">
        <div class="col-md-12 col-xs-12 welcome-wrapper-three">
            <div class="lang-div" id="left-lang-div">languages</div>
            <div class="lang-div" id="right-lang-div">languages</div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-xs-12 welcome-wrapper-four">
            call to action
        </div>
    </div>
</div>