<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-xs-12 welcome-header navbar-fixed-top">
            <nav>
                <a href="#/welcome">Logo</a>
                <a href="#">Portfolio</a>
                <a href="#">Contact</a>
                <a href="#">Blog</a>
                <a href="#">Schedule button</a>
            </nav>
        </div>
    </div>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-xs-12 welcome-wrapper-one">
            <div id="welcome-name-wrapper">
                <h1>Michael Montgomery</h1><br>
                <h2>Full-Stack Web Developer | UI/UX Consultant</h2>
                <ul>
                    <li><i class="fa fa-facebook" aria-hidden="true"></i></li>
                    <li><i class="fa fa-twitter" aria-hidden="true"></i></li>
                    <li><i class="fa fa-linkedin" aria-hidden="true"></i></li>
                    <li><i class="fa fa-github" aria-hidden="true"></i></li>
                </ul>
            </div>

        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-xs-12 welcome-about-wrapper">

            </p>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 welcome-wrapper-two">
            <div id="dual-div-wrapper">
                <div class="dual-div" id="left-dual-div">
                    <h2>Design.</h2>
                </div>
                <div class="dual-div" id="right-dual-div">
                    <h2>Re-designed.</h2>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 welcome-picture-wrapper">

        </div>
    </div>
</div>




<div class="container-fluid">
    <div class="row">
        <div class="col-md-12 col-xs-12 welcome-wrapper-four">
            <div id="welcome-schedule-wrapper">
                <h2>Let's build something amazing together!</h2>
                <button>Schedule a consultation</button>
            </div>
        </div>
    </div>
</div>